Source: soundtouch
Priority: optional
Section: libs
Maintainer: Debian Multimedia Maintainers <pkg-multimedia-maintainers@lists.alioth.debian.org>
Uploaders: Miguel A. Colón Vélez <debian.micove@gmail.com>
Build-Depends:
 debhelper (>= 11),
Standards-Version: 3.9.6
Homepage: http://www.surina.net/soundtouch/
Vcs-Git: git://anonscm.debian.org/pkg-multimedia/soundtouch.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-multimedia/soundtouch.git

Package: libsoundtouch1
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Breaks:
 libsoundtouch1c2
Replaces:
 libsoundtouch1c2
Description: Sound stretching library
 SoundTouch is a library that can be used to change pitch and time
 of soundfiles independently.
 .
 This package contains the SoundTouch shared library.

Package: libsoundtouch1-dbg
Priority: extra
Section: debug
Architecture: any
Multi-Arch: same
Depends:
 libsoundtouch1 (= ${binary:Version}),
 ${misc:Depends}
Description: Debugging symbols for the sound stretching library
 SoundTouch is a library that can be used to change pitch and time of
 soundfiles independently.
 .
 This package contains the debugging symbols for the SoundTouch shared library.

Package: libsoundtouch-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libsoundtouch1 (= ${binary:Version}),
 ${misc:Depends}
Breaks:
 libsoundtouch1-dev
Replaces:
 libsoundtouch1-dev
Provides:
 libsoundtouch1-dev
Description: Development files for the sound stretching library
 SoundTouch is a library that can be used to change pitch and time of
 soundfiles independently.
 .
 This package contains the development files used to build programs that use
 the SoundTouch shared library.

Package: soundstretch
Section: sound
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: Stretches and pitch-shifts sound independently
 This program can strech and pitch-shift .wav-files independently.
 This is especially useful for musicians, who want to listen to a song
 played slowly, without having the pitch altered.
 .
 This program uses the SoundTouch shared library for the actual work.

Package: soundstretch-dbg
Priority: extra
Section: debug
Architecture: any
Depends:
 soundstretch (= ${binary:Version}),
 ${misc:Depends}
Description: Debugging symbols for the soundstretch program
 This program can strech and pitch-shift .wav-files independently.
 This is especially useful for musicians, who want to listen to a song
 played slowly, without having the pitch altered.
 .
 This package contains the debugging symbols for soundstretch.
