#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_auto_configure:
	dh_auto_configure -- --disable-silent-rules

override_dh_installdocs:
	dh_installdocs -plibsoundtouch1 -psoundstretch

override_dh_installchangelogs:
	dh_installchangelogs -plibsoundtouch1 -psoundstretch

override_dh_strip:
	dh_strip --package=libsoundtouch1 --dbg-package=libsoundtouch1-dbg
	dh_strip --package=soundstretch --dbg-package=soundstretch-dbg

override_dh_makeshlibs:
	dh_makeshlibs -plibsoundtouch1 -V 'libsoundtouch1 (>= 1.9.2)'

%:
	dh $@ --parallel --with autoreconf
